<div class="container mx-auto p-10 bg-white flex flex-col items-center relative mt-8">
  <div *ngIf="isLoading" class="fixed inset-0 flex items-center justify-center z-[1000] bg-white bg-opacity-50">
    <app-spinner></app-spinner>
  </div>

  <div class="fixed top-14 left-1/2 transform -translate-x-1/2 m-4">
    <app-alert [message]="alertMessage" [isVisible]="alertVisible" [type]="alertType"></app-alert>
  </div>

  <div class="w-full max-w-6xl flex flex-col items-start mb-2">
    <div class="mb-2 w-full flex justify-between">
      <div class="relative w-full max-w-md">
        <input type="text" [(ngModel)]="searchTerm" (input)="filterProducts()" placeholder="Buscar producto..."
          class="block w-full p-2 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500 font-rubik text-black" />
        <i class="fas fa-search absolute right-3 top-3 text-gray-500"></i>
      </div>

      <div class="ml-2">
        <button (click)="openModal()"
          class="inline-flex items-center px-4 py-2 bg-[#31363F] text-[#EEEEEE] text-sm font-light font-rubik rounded-md shadow hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500 transition duration-300 transform hover:scale-105">
          <i class="fas fa-plus mr-2"></i> Agregar Producto
        </button>
      </div>
    </div>
    <!-- Tabla de productos -->
    <div class="w-full max-w-6xl relative">
      <!-- Contenedor de la tabla con el spinner dentro -->
      <div *ngIf="isLoadingList" class="absolute inset-0 flex items-center justify-center ">
        <app-spinner></app-spinner>
      </div>

      <!-- Tabla de productos, visible solo cuando no se está cargando -->
      <table *ngIf="!isLoadingList" class="w-full text-sm text-left text-black shadow-md sm:rounded-lg">
        <thead class="text-xs uppercase bg-gray-50">
          <tr>
            <th scope="col" class="px-2 py-3 font-bold font-rubik text-center">Producto</th>
            <th scope="col" class="px-2 py-3 font-bold font-rubik text-center">Stock Total</th>
            <th scope="col" class="px-2 py-3 font-bold font-rubik text-center">Precio Venta</th>
            <th scope="col" class="px-2 py-3 font-bold font-rubik text-center">Código de Barras</th>
            <th scope="col" class="px-2 py-3 font-bold font-rubik text-center">Fecha de Creación</th>
            <th scope="col" class="px-2 py-3 font-bold font-rubik text-center"><span class="sr-only">Acciones</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of paginatedProducts" class="bg-white border-b">
            <td class="px-4 py-3 text-center font-medium text-black font-rubik">{{ product.title }}</td>
            <td class="px-4 py-3 text-center text-black font-rubik">{{ product.stockTotal !== null && product.stockTotal
              !== undefined ? product.stockTotal : 0 }}</td>
              <td class="px-4 py-3 text-center text-black font-rubik">
                {{ product.precioVenta !== null ? '$' + (product.precioVenta | number: '1.0-0') : 'Sin Precio' }}
              </td>



            <td class="px-4 py-3 text-center text-black font-rubik">{{ product.barcode || 'Sin código de barras' }}</td>
            <td class="px-4 py-3 text-center text-black font-rubik">{{ product.fechaCreacion }}</td>
            <td class="px-4 py-3 text-center flex justify-center space-x-2">
              <button (click)="editProduct(product)"
                class="inline-flex items-center px-4 py-2 bg-[#76ABAE] text-white font-light font-rubik rounded-md shadow hover:bg-[#5b9892] focus:outline-none focus:ring-2 focus:ring-gray-500 transition duration-300 transform hover:scale-105">
                <i class="fas fa-edit mr-1"></i>
                Editar
              </button>
              <button (click)="promptDelete(product.id ?? '')"
                class="inline-flex items-center px-4 py-2 bg-red-600 text-white font-light font-rubik rounded-md shadow hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-gray-500 transition duration-300 transform hover:scale-105">
                <i class="fas fa-trash-alt mr-1"></i> Eliminar
              </button>
            </td>
          </tr>
        </tbody>

      </table>

      <!-- Condición para mostrar el mensaje de "No hay productos" solo cuando no haya productos y no se esté cargando -->
      <div *ngIf="!isLoadingList && products.length === 0" class="mt-4 flex items-center justify-center p-2">
        <p class="text-base font-light text-black font-rubik">No hay productos agregados aún.</p>
      </div>


      <div class="flex justify-between mt-4 ">
        <!-- Botón anterior en la esquina izquierda -->
        <button (click)="previousPage()" [disabled]="currentPage === 1 || !paginatedProducts.length"
          class="mx-2 px-4 py-2 bg-[#76ABAE] text-white rounded-md disabled:opacity-50" aria-label="Página anterior">
          <i class="fas fa-chevron-left mr-2"></i> Anterior
        </button>

        <!-- Botón siguiente en la esquina derecha -->
        <button (click)="nextPage()" [disabled]="paginatedProducts.length < 10"
          class="mx-2 px-4 py-2 bg-[#76ABAE] text-white rounded-md disabled:opacity-50" aria-label="Siguiente página">
          Siguiente <i class="fas fa-chevron-right ml-2"></i>
        </button>
      </div>

    </div>


    <div *ngIf="showConfirm" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
      <div class="bg-white p-8 rounded-md shadow-md w-full max-w-md">
        <p class="text-lg font-light font-rubik text-center">¿Estás seguro de que deseas eliminar este producto?</p>
        <div class="flex justify-between mt-4">
          <button (click)="confirmDelete()"
            class="inline-flex items-center px-4 py-2 bg-green-600 text-white font-light font-rubik rounded-md shadow hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-gray-500 transition duration-300 transform hover:scale-105">
            <i class="fas fa-check mr-1"></i> Sí
          </button>
          <button (click)="cancelDelete()"
            class="inline-flex items-center px-4 py-2 bg-red-600 text-white font-light font-rubik rounded-md shadow hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-gray-500 transition duration-300 transform hover:scale-105">
            <i class="fas fa-times mr-1"></i> No
          </button>
        </div>
      </div>
    </div>


    <!-- Modal para Crear/Editar Producto -->
    <div *ngIf="isModalOpen" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
      <div class="bg-white p-6 rounded-md shadow-md w-full max-w-2xl">
        <h2 class="text-xl font-bold mb-4">{{ isEditing ? 'Editar Producto' : 'Crear Producto' }}</h2>
        <form [formGroup]="crudForm" (ngSubmit)="createOrUpdateProduct()" class="mb-6">
          <div class="mb-4">
            <label class="block text-sm font-medium text-gray-700">Producto:</label>
            <input formControlName="title" placeholder="Nombre del producto"
              class="mt-1 block w-full p-2 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500 font-rubik text-black" />
            <div
              *ngIf="crudForm.get('title')?.invalid && (crudForm.get('title')?.touched || crudForm.get('title')?.dirty)">
              <div *ngIf="crudForm.get('title')?.errors?.['required']" class="text-red-600">El nombre es obligatorio.
              </div>
              <div *ngIf="crudForm.get('title')?.errors?.['minlength']" class="text-red-600">El nombre debe tener al
                menos 3 caracteres.</div>
            </div>
          </div>

          <div class="mb-4">
            <label class="block text-sm font-medium text-gray-700">Precio de Venta:</label>
            <input type="number" formControlName="precioVenta" placeholder="Precio de venta"
              class="mt-1 block w-full p-2 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500 font-rubik text-black"
              min="1" />
            <div
              *ngIf="crudForm.get('precioVenta')?.invalid && (crudForm.get('precioVenta')?.touched || crudForm.get('precioVenta')?.dirty)">
              <div *ngIf="crudForm.get('precioVenta')?.errors?.['required']" class="text-red-600">El precio es
                obligatorio.</div>
              <div *ngIf="crudForm.get('precioVenta')?.errors?.['min']" class="text-red-600">El precio debe ser mayor o
                igual a 1.</div>
              <div *ngIf="crudForm.get('precioVenta')?.errors?.['pattern']" class="text-red-600">El precio debe ser un
                número entero.</div>
            </div>
          </div>



          <div class="mb-4">
            <label class="block text-sm font-medium text-gray-700">Código de Barras:</label>
            <input type="text" formControlName="barcode" placeholder="Código de barras (opcional)"
              class="mt-1 block w-full p-2 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500 font-rubik text-black" />
          </div>
          <div class="flex justify-end">
            <button type="submit" [disabled]="crudForm.invalid || isLoading"
              class="inline-flex items-center px-4 py-2 bg-green-600 text-white font-light font-rubik rounded-md shadow hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-gray-500 transition duration-300 transform hover:scale-105 disabled:bg-gray-300 disabled:text-gray-500 disabled:cursor-not-allowed">
              <i class="fas fa-save mr-1"></i> {{ isEditing ? 'Actualizar' : 'Crear' }}
            </button>



            <button (click)="closeModal()" type="button"
              class="inline-flex items-center px-4 py-2 bg-gray-300 text-black font-light font-rubik rounded-md shadow hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500 transition duration-300 transform hover:scale-105 ml-2">
              <i class="fas fa-times mr-1"></i> Cancelar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
