<app-alert
class="absolute top-4 left-1/2 transform -translate-x-1/2 z-50"
[message]="welcomeMessage || ''"
[isVisible]="!!(welcomeMessage && welcomeMessage.length > 0)"
[type]="'success'"></app-alert>

<div class="flex flex-wrap justify-center gap-4 max-w-6xl mx-auto mt-10">
  <div class="w-full text-center mb-4">
    <h2 class="text-2xl font-bold">¡Bienvenido, {{userName}}!</h2>
</div>

  <div class="flex flex-wrap justify-center gap-4 w-full">
      <div class="relative flex flex-col items-center rounded-[10px] border-[1px] border-gray-200 bg-white bg-clip-border shadow-md shadow-[#F3F3F3] transform transition-transform duration-200 hover:shadow-lg hover:-translate-y-1 p-4 w-60">
          <div class="flex h-[90px] w-auto items-center justify-center">
              <div class="rounded-full bg-lightPrimary p-3">
                  <span class="flex items-center text-brand-500">
                      <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" class="h-7 w-7">
                          <path fill="none" d="M0 0h24v24H0z"></path>
                          <path d="M4 9h4v11H4zM16 13h4v7h-4zM10 4h4v16h-4z"></path>
                      </svg>
                  </span>
              </div>
          </div>
          <div class="flex flex-col items-center justify-center">
              <p class="font-dm text-sm font-medium text-gray-600">Ventas Mensuales</p>
              <h4 class="text-xl font-bold text-black">X</h4>
          </div>
      </div>

      <div class="relative flex flex-col items-center rounded-[10px] border-[1px] border-gray-200 bg-white bg-clip-border shadow-md shadow-[#F3F3F3] transform transition-transform duration-200 hover:shadow-lg hover:-translate-y-1 p-4 w-60">
          <div class="flex h-[90px] w-auto items-center justify-center">
              <div class="rounded-full bg-lightPrimary p-3">
                  <span class="flex items-center text-brand-500">
                      <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" class="h-7 w-7">
                          <path fill="none" d="M0 0h24v24H0z"></path>
                          <path d="M4 9h4v11H4zM16 13h4v7h-4zM10 4h4v16h-4z"></path>
                      </svg>
                  </span>
              </div>
          </div>
          <div class="flex flex-col items-center justify-center">
              <p class="font-dm text-sm font-medium text-gray-600">Ventas Diarias</p>
              <h4 class="text-xl font-bold text-black">X</h4>
          </div>
      </div>

      <div class="relative flex flex-col items-center rounded-[10px] border-[1px] border-gray-200 bg-white bg-clip-border shadow-md shadow-[#F3F3F3] transform transition-transform duration-200 hover:shadow-lg hover:-translate-y-1 p-4 w-60">
          <div class="flex h-[90px] w-auto items-center justify-center">
              <div class="rounded-full bg-lightPrimary p-3">
                  <span class="flex items-center text-brand-500">
                      <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" class="h-7 w-7">
                          <path fill="none" d="M0 0h24v24H0z"></path>
                          <path d="M4 9h4v11H4zM16 13h4v7h-4zM10 4h4v16h-4z"></path>
                      </svg>
                  </span>
              </div>
          </div>
          <div class="flex flex-col items-center justify-center">
              <p class="font-dm text-sm font-medium text-gray-600">Ventas Anuales</p>
              <h4 class="text-xl font-bold text-black">X</h4>
          </div>
      </div>
  </div>

  <div class="flex flex-wrap justify-center gap-4 w-full">
      <div class="relative flex flex-col items-center rounded-[10px] border-[1px] border-gray-200 bg-white bg-clip-border shadow-md shadow-[#F3F3F3] transform transition-transform duration-200 hover:shadow-lg hover:-translate-y-1 p-4 w-60">
          <div class="flex h-[90px] w-auto items-center justify-center">
              <div class="rounded-full bg-lightPrimary p-3">
                  <span class="flex items-center text-brand-500">
                      <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" class="h-7 w-7">
                          <path fill="none" d="M0 0h24v24H0z"></path>
                          <path d="M4 9h4v11H4zM16 13h4v7h-4zM10 4h4v16h-4z"></path>
                      </svg>
                  </span>
              </div>
          </div>
          <div class="flex flex-col items-center justify-center">
              <p class="font-dm text-sm font-medium text-gray-600">nose</p>
              <h4 class="text-xl font-bold text-black">X</h4>
          </div>
      </div>

      <div class="relative flex flex-col items-center rounded-[10px] border-[1px] border-gray-200 bg-white bg-clip-border shadow-md shadow-[#F3F3F3] transform transition-transform duration-200 hover:shadow-lg hover:-translate-y-1 p-4 w-60">
          <div class="flex h-[90px] w-auto items-center justify-center">
              <div class="rounded-full bg-lightPrimary p-3">
                  <span class="flex items-center text-brand-500">
                      <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" class="h-7 w-7">
                          <path fill="none" d="M0 0h24v24H0z"></path>
                          <path d="M4 9h4v11H4zM16 13h4v7h-4zM10 4h4v16h-4z"></path>
                      </svg>
                  </span>
              </div>
          </div>
          <div class="flex flex-col items-center justify-center">
              <p class="font-dm text-sm font-medium text-gray-600">Productos Totales</p>
              <h4 class="text-xl font-bold text-black">{{ totalProducts   }}</h4>
          </div>
      </div>

      <div class="relative flex flex-col items-center rounded-[10px] border-[1px] border-gray-200 bg-white bg-clip-border shadow-md shadow-[#F3F3F3] transform transition-transform duration-200 hover:shadow-lg hover:-translate-y-1 p-4 w-60">
          <div class="flex h-[90px] w-auto items-center justify-center">
              <div class="rounded-full bg-lightPrimary p-3">
                  <span class="flex items-center text-brand-500">
                      <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" class="h-7 w-7">
                          <path fill="none" d="M0 0h24v24H0z"></path>
                          <path d="M4 9h4v11H4zM16 13h4v7h-4zM10 4h4v16h-4z"></path>
                      </svg>
                  </span>
              </div>
          </div>
          <div class="flex flex-col items-center justify-center">
              <p class="font-dm text-sm font-medium text-gray-600">nose</p>
              <h4 class="text-xl font-bold text-black">X</h4>
          </div>
      </div>
  </div>

  <div class="flex flex-wrap justify-center gap-4 w-full">
      <div class="relative flex flex-col items-center rounded-[10px] border-[1px] border-gray-200 bg-white bg-clip-border shadow-md shadow-[#F3F3F3] transform transition-transform duration-200 hover:shadow-lg hover:-translate-y-1 p-4 w-60">
          <div class="flex h-[90px] w-auto items-center justify-center">
              <div class="rounded-full bg-lightPrimary p-3">
                  <span class="flex items-center text-brand-500">
                      <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" class="h-7 w-7">
                          <path fill="none" d="M0 0h24v24H0z"></path>
                          <path d="M4 9h4v11H4zM16 13h4v7h-4zM10 4h4v16h-4z"></path>
                      </svg>
                  </span>
              </div>
          </div>
          <div class="flex flex-col items-center justify-center">
              <p class="font-dm text-sm font-medium text-gray-600">Gastos Mensuales</p>
              <h4 class="text-xl font-bold text-black">{{ gastosMensuales }}</h4>
          </div>
      </div>

      <div class="relative flex flex-col items-center rounded-[10px] border-[1px] border-gray-200 bg-white bg-clip-border shadow-md shadow-[#F3F3F3] transform transition-transform duration-200 hover:shadow-lg hover:-translate-y-1 p-4 w-60">
          <div class="flex h-[90px] w-auto items-center justify-center">
              <div class="rounded-full bg-lightPrimary p-3">
                  <span class="flex items-center text-brand-500">
                      <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" class="h-7 w-7">
                          <path fill="none" d="M0 0h24v24H0z"></path>
                          <path d="M4 9h4v11H4zM16 13h4v7h-4zM10 4h4v16h-4z"></path>
                      </svg>
                  </span>
              </div>
          </div>
          <div class="flex flex-col items-center justify-center">
              <p class="font-dm text-sm font-medium text-gray-600">Gastos Diarios</p>
              <h4 class="text-xl font-bold text-black">{{ gastosDiarios }}</h4>
          </div>
      </div>

      <div class="relative flex flex-col items-center rounded-[10px] border-[1px] border-gray-200 bg-white bg-clip-border shadow-md shadow-[#F3F3F3] transform transition-transform duration-200 hover:shadow-lg hover:-translate-y-1 p-4 w-60">
          <div class="flex h-[90px] w-auto items-center justify-center">
              <div class="rounded-full bg-lightPrimary p-3">
                  <span class="flex items-center text-brand-500">
                      <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" class="h-7 w-7">
                          <path fill="none" d="M0 0h24v24H0z"></path>
                          <path d="M4 9h4v11H4zM16 13h4v7h-4zM10 4h4v16h-4z"></path>
                      </svg>
                  </span>
              </div>
          </div>
          <div class="flex flex-col items-center justify-center">
              <p class="font-dm text-sm font-medium text-gray-600">Gastos Anuales</p>
              <h4 class="text-xl font-bold text-black">{{ gastosAnuales }}</h4>
          </div>
      </div>
  </div>
</div>
