<div class="flex items-start">
  <div class="flex-1 w-3/5 p-4">
    <h2 class="text-xl font-bold mb-4">Agrega un producto con código de barra</h2>

    <input
      type="text"
      id="codigo-barra-input"
      placeholder="Buscar producto por nombre o código de barra"
      [(ngModel)]="searchTerm"
      (input)="filtrarProductos()"
      (keydown.enter)="agregarProductoDesdeBusqueda()"
      (focusout)="enfocarInput()"
      class="block w-full p-2 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500 font-rubik text-black mb-4"
    />

    <h3 class="text-lg font-semibold mb-4">Productos Disponibles</h3>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <div *ngFor="let producto of productosFiltrados" class="p-4 bg-white rounded-lg shadow-md">
        <h4 class="text-lg font-bold">{{ producto.title }}</h4>
        <p class="text-gray-700">Precio: {{ producto.ventaPrice | currency:'USD': 'symbol':'1.0-2' }}</p>
        <p class="text-gray-700">Stock: {{ producto.stock }}</p>
        <p class="text-gray-700">
          Código de barras:
          <span *ngIf="producto.barcode">{{ producto.barcode }}</span>
          <span *ngIf="!producto.barcode">Sin código de barras</span>
        </p>
        <p *ngIf="producto.expiryDate" class="text-gray-500 text-sm">
          Vence: {{ producto.expiryDate | date:'longDate' }}
        </p>
        <button
          (click)="agregarAlCarrito(producto)"
          class="mt-2 inline-flex items-center px-3 py-1 bg-blue-600 text-white font-semibold rounded-md shadow hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-gray-500"
        >
          Agregar
        </button>
      </div>
    </div>
  </div>

  <div class="w-px bg-gray-300 mx-4" style="height: 600px; margin-top: 50px;"></div>

  <div class="flex-none w-2/5 p-4">
    <h2 class="text-xl font-bold text-center mb-4">Carrito</h2>

    <!-- Mostrar hora del carrito -->
    <div class="text-center mb-4">
      <span class="font-semibold">Hora de inicio de la venta:</span> {{ horaCarrito || 'No disponible' }}
    </div>

    <div *ngIf="carrito.length === 0" class="text-center text-gray-500">
      Aún no has agregado productos para vender.
    </div>

    <div class="overflow-x-auto shadow-md sm:rounded-lg" *ngIf="carrito.length > 0">
      <table class="w-full text-sm text-left text-black">
        <thead class="text-xs uppercase bg-gray-50">
          <tr>
            <th class="px-2 py-3 font-bold text-center">Producto</th>
            <th class="px-2 py-3 font-bold text-center">Precio</th>
            <th class="px-2 py-3 font-bold text-center">Cantidad</th>
            <th class="px-2 py-3 font-bold text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr class="bg-white border-b" *ngFor="let item of carrito">
            <td class="px-4 py-3 text-center">{{ item.product.title }}</td>
            <td class="px-4 py-3 text-center">{{ item.product.ventaPrice | currency:'USD': 'symbol':'1.0-2' }}</td>
            <td class="px-4 py-3 text-center">{{ item.cantidad }}</td>
            <td class="px-4 py-3 text-center">
              <button
                (click)="eliminarDelCarrito(item)"
                class="inline-flex items-center px-2 py-1 bg-red-600 text-white font-semibold rounded-md shadow hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-gray-500"
              >
                <i class="fas fa-trash-alt mr-1"></i> Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <h3 class="text-lg font-semibold mt-4">Precio Total: {{ totalPrecio | currency:'USD': 'symbol':'1.0-2' }}</h3>
    </div>

    <!-- Botón para eliminar todo el carrito, visible solo si hay productos -->
    <div class="flex justify-center mt-4" *ngIf="carrito.length > 0">
      <button
        (click)="reiniciarCarrito()"
        class="px-6 py-3 bg-red-600 text-white font-semibold rounded-md shadow hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-gray-500"
      >
        Eliminar Todo
      </button>
    </div>

    <!-- Botones "Agregar venta" y "Otro" -->
    <div class="flex justify-center mt-4 space-x-4" *ngIf="carrito.length > 0">
      <button
        (click)="procesarVenta()"
        class="px-6 py-3 bg-blue-600 text-white font-semibold rounded-md shadow hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-gray-500"
      >
        Agregar Venta
      </button>

      <button
        class="px-6 py-3 bg-gray-600 text-white font-semibold rounded-md shadow hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500"
      >
        Otro
      </button>
    </div>
  </div>
</div>
