<div class="flex items-start">
  <div class="flex-1 w-2/5 p-4"> <!-- Cambiado a w-2/5 -->
    <h2 class="text-xl font-bold mb-4">Código de barra</h2>

    <input
      type="text"
      #codigoBarraInput
      placeholder="Buscar producto por nombre o código de barra"
      [(ngModel)]="searchTerm"
      (input)="filtrarProductos()"
      (keydown.enter)="agregarProductoDesdeBusqueda()"
      class="block w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:border-gray-500 font-rubik text-black mb-4"
      style="border-color: gray; box-shadow: none;"
    />

    <h3 class="text-lg font-semibold mb-4">Productos Disponibles</h3>

    <div class="overflow-x-auto shadow-md sm:rounded-lg mb-4">
      <table class="w-full text-sm text-left text-black">
        <thead class="text-xs uppercase bg-gray-50">
          <tr>
            <th class="px-2 py-3 font-bold text-center">Producto</th>
            <th class="px-2 py-3 font-bold text-center">Precio</th>
            <th class="px-2 py-3 font-bold text-center">Stock</th>
            <th class="px-2 py-3 font-bold text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr class="bg-white border-b" *ngFor="let producto of productosFiltrados">
            <td class="px-4 py-3 text-center">{{ producto.title }}</td>
            <td class="px-4 py-3 text-center">{{ producto.ventaPrice | currency:'USD': 'symbol':'1.0-2' }}</td>
            <td class="px-4 py-3 text-center">{{ producto.stock }}</td>
            <td class="px-4 py-3 text-center">
              <button
                (click)="agregarAlCarrito(producto)"
                [disabled]="producto.stock === 0"
                class="inline-flex items-center px-2 py-1 bg-green-600 text-white font-semibold rounded-md shadow hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-gray-500"
                [ngClass]="{'opacity-50 cursor-not-allowed': producto.stock === 0}"
              >
                <i class="fas fa-plus mr-1"></i> Agregar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="w-px bg-gray-300 mx-4" style="height: 600px; margin-top: 50px;"></div>

  <div class="flex-none w-3/5 p-4"> <!-- Cambiado a w-3/5 -->
    <div *ngIf="carrito.length > 0" class="flex justify-between mb-2">
      <div class="text-left">
        <span class="font-semibold">Hora:</span> 19:58
      </div>
      <button
        (click)="reiniciarCarrito()"
        class="px-2 py-1 bg-red-600 text-white font-semibold rounded-md shadow hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-gray-500 text-xs"
      >
        <i class="fas fa-trash-alt mr-1"></i> Eliminar Todo
      </button>
    </div>

    <div *ngIf="carrito.length === 0" class="text-center text-gray-500 mb-4">
      Aún no has agregado productos para vender.
    </div>

    <div class="overflow-x-auto shadow-md sm:rounded-lg" *ngIf="carrito.length > 0">
      <table class="w-full text-sm text-left text-black">
        <thead class="text-xs uppercase bg-gray-50">
          <tr>
            <th class="px-2 py-3 font-bold text-center">Producto</th>
            <th class="px-2 py-3 font-bold text-center">Precio</th>
            <th class="px-2 py-3 font-bold text-center">Cantidad</th>
            <th class="px-2 py-3 font-bold text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr class="bg-white border-b" *ngFor="let item of carrito">
            <td class="px-4 py-3 text-center">{{ item.product.title }}</td>
            <td class="px-4 py-3 text-center">{{ item.product.ventaPrice | currency:'USD': 'symbol':'1.0-2' }}</td>
            <td class="px-4 py-3 text-center">{{ item.cantidad }}</td>
            <td class="px-4 py-3 text-center">
              <button
                (click)="eliminarDelCarrito(item)"
                class="inline-flex items-center px-2 py-1 bg-red-600 text-white font-semibold rounded-md shadow hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-gray-500"
              >
                <i class="fas fa-minus mr-1"></i> Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <h3 class="text-lg font-semibold mt-4 text-center">Precio Total: {{ totalPrecio | currency:'USD': 'symbol':'1.0-2' }}</h3>
    </div>

    <!-- Botones "Agregar venta" y "Otro" -->
    <div class="flex justify-center mt-4 space-x-4" *ngIf="carrito.length > 0">
      <button
        (click)="procesarVenta()"
        class="px-6 py-3 bg-blue-600 text-white font-semibold rounded-md shadow hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-gray-500"
      >
        Agregar Venta
      </button>

      <button
        class="px-6 py-3 bg-gray-600 text-white font-semibold rounded-md shadow hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500"
      >
        Otro
      </button>
    </div>
  </div>
</div>
