<body class="bg-white flex flex-col justify-center items-center min-h-screen font-light">
    <!-- SVG de la forma de onda (Parte superior) -->
    <div class="fixed top-0 left-0 w-full z-0">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#222831" fill-opacity="1" d="M0,40L1440,190L1440,0L0,0Z"></path>
      </svg>
    </div>

  <div class="container mx-auto px-4 flex flex-col justify-center items-center h-full">
    <!-- Contenedor principal -->
    <div class="py-16 w-full">
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-10">
        <div class="flex flex-col items-start">
          <div class="mt-8 w-full max-w-md text-left">
            <h1 class="text-2xl sm:text-3xl font-light text-[#31363F] font-rubik">Needvox</h1>
            <p class="text-[#31363F] mt-2 font-light font-rubik">Diseñada para empresas <br> de todos los tamaños.</p>
          </div>

          <!-- Botones -->
          <div class="mt-10 flex space-x-4">
            <button (click)="openModal('login')" class="bg-[#EEEEEE] hover:bg-gray-300 text-[#31363F] py-2 px-4 md:px-6 rounded-md font-light font-rubik shadow-md transition duration-300 transform hover:scale-105">Ingresar</button>
            <button (click)="openModal('register')" class="bg-[#EEEEEE] hover:bg-gray-300 text-[#31363F] py-2 px-4 md:px-6 rounded-md font-light font-rubik shadow-md transition duration-300 transform hover:scale-105 ml-4">Registrarme</button>
          </div>
        </div>

        <!-- Misión -->
        <div class="bg-[#31363F] shadow-lg rounded-lg p-6 text-left transform hover:scale-105 transition duration-300 ease-in-out h-full">
          <i class="fas fa-rocket text-5xl text-blue-500 mb-4 animate-bounce"></i>
          <h2 class="text-lg sm:text-xl md:text-2xl font-bold text-[#EEEEEE] mb-2">Misión</h2>
          <p class="text-[#EEEEEE] text-sm md:text-base">
            Modernizar los almacenes de barrio mediante soluciones tecnológicas accesibles y fáciles de usar, optimizando la gestión de su inventario y ventas, mientras ofrecemos una
            experiencia agradable para el usuario que promueva la eficiencia y el crecimiento.
          </p>
        </div>

        <!-- Visión -->
        <div class="bg-[#76ABAE] shadow-lg rounded-lg p-6 text-left transform hover:scale-105 transition duration-300 ease-in-out">
          <i class="fas fa-lightbulb text-5xl text-purple-500 mb-4 animate-bounce"></i>
          <h2 class="text-lg sm:text-xl md:text-2xl font-bold text-[#31363F] mb-2">Visión</h2>
          <p class="text-[#31363F] text-sm md:text-base">
            Ser la plataforma líder en Latinoamérica para la digitalización de pequeños comercios, transformando la gestión de los almacenes de barrio con herramientas innovadoras que
            faciliten su operación y contribuyan a su desarrollo y éxito en el mercado.
          </p>
        </div>

        <!-- Propósito -->
        <div class="bg-[#EEEEEE] shadow-lg rounded-lg p-6 text-left transform hover:scale-105 transition duration-300 ease-in-out">
          <i class="fas fa-atom text-5xl text-yellow-500 mb-4 animate-bounce"></i>
          <h2 class="text-lg sm:text-xl md:text-2xl font-bold text-[#31363F] mb-2">Propósito</h2>
          <p class="text-[#31363F] text-sm md:text-base">
            Revolucionar la gestión diaria de los almacenes de barrio, proporcionando soluciones intuitivas y modernas que simplifican sus procesos y ofrecen una experiencia de usuario
            agradable, permitiendo a los comerciantes centrarse en su comunidad y clientes.
          </p>
        </div>
      </div>

      <!-- Footer -->
      <footer class="mt-16 text-sm text-gray-500 text-center">
        <p class="font-light font-rubik">Copyright © Needvox</p>
      </footer>
    </div>
  </div>

  <!-- SVG de la forma de onda -->
  <div class="fixed bottom-0 left-0 w-full z-0">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#222831" fill-opacity="1" d="M0,160L1440,288L1440,320L0,320Z"></path>
    </svg>
  </div>


  <!-- Modal para Login/Registro -->
  <div *ngIf="isModalOpen">
    <ng-container [ngSwitch]="modalType">
      <ng-container *ngSwitchCase="'login'">
        <app-login-page (closeModal)="closeModal()"></app-login-page> <!-- Carga el componente de Login -->
      </ng-container>
      <ng-container *ngSwitchCase="'register'">
        <app-register-page (closeModal)="closeModal()"></app-register-page> <!-- Carga el componente de Registro -->
      </ng-container>
    </ng-container>
  </div>
</body>
