<div class="flex flex-col items-center justify-center w-full max-w-2xl mt-4 mx-auto">

  <!-- Contenedor de la fecha -->
  <div class="flex justify-center w-full mb-4">
    <div *ngIf="isLoading" class="fixed inset-0 flex items-center justify-center z-[1000] bg-white bg-opacity-50">
      <app-spinner></app-spinner>
    </div>

    <div class="flex justify-between items-center bg-white rounded-full px-6 py-2 shadow-lg w-full">
      <button (click)="cambiarDiaAnterior()" class="bg-black text-white rounded-full px-3 py-2 hover:bg-gray-800">
        <i class="fas fa-chevron-left"></i>
      </button>

      <span class="text-lg font-medium text-gray-600 font-rubik">
        {{ fechaSeleccionada | date: 'dd MMMM yyyy' }}
      </span>

      <button (click)="cambiarDiaSiguiente()" [disabled]="esDiaSiguienteNoValido()" [ngClass]="{
          'bg-gray-400 text-gray-600': esDiaSiguienteNoValido(),
          'bg-black text-white hover:bg-gray-800': !esDiaSiguienteNoValido()
        }" class="rounded-full px-3 py-2">
        <i class="fas fa-chevron-right"></i>
      </button>
    </div>

    <!-- Botón caja registradora en azul oscuro -->
    <button (click)="abrirModal(ventas)"
      class="bg-[#2A3B4C] text-white rounded-full px-6 py-3 hover:bg-[#1C2A36] flex items-center justify-center ml-4 shadow-md transition duration-300 transform hover:scale-105 mr-6">
      <i class="fas fa-cash-register"></i>
    </button>

  </div>

  <!-- Contenedor de la lista -->
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg w-full mt-2">
    <div *ngIf="ventas.length === 0" class="text-center text-gray-500 mb-4">
      Aún no has hecho ninguna venta.
    </div>

    <table *ngIf="ventas.length > 0" class="w-full text-sm text-left text-black">
      <thead class="text-xs uppercase bg-gray-50">
        <tr>
          <th scope="col" class="px-4 py-3 font-bold font-rubik text-center">Número</th>
          <th scope="col" class="px-4 py-3 font-bold font-rubik text-center">Cantidad de Productos</th>
          <th scope="col" class="px-4 py-3 font-bold font-rubik text-center">Precio Total</th>
          <th scope="col" class="px-4 py-3 font-bold font-rubik text-center">Método de Pago</th>
          <th scope="col" class="px-4 py-3 font-bold font-rubik text-center">Hora</th>
          <th scope="col" class="px-4 py-3 font-bold font-rubik text-center">
            <span class="sr-only">Acciones</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let venta of getVentasParaMostrar(); let i = index" class="bg-white border-b">
          <td class="px-4 py-3 text-center font-medium text-black font-rubik">{{ obtenerNumeroVenta(i) }}</td>
          <!-- En lugar de usar venta.productos.length, usa una suma de las cantidades -->
          <td class="px-4 py-3 text-center text-black font-rubik">
            {{ obtenerCantidadTotal(venta.productos) }} Producto{{ obtenerCantidadTotal(venta.productos) > 1 ? 's' : ''
            }}
          </td>

          <td class="px-4 py-3 text-center text-black font-rubik">{{ formatCurrency(venta.total) }}</td>
          <td class="px-4 py-1 text-center text-black font-rubik rounded-sm capitalize"
            [ngClass]="getColorMetodoPago(venta.metodo_pago)">
            {{ venta.metodo_pago }}
          </td>

          <td class="px-4 py-3 text-center text-black font-rubik">
            {{ (venta.fecha ? (venta.fecha | date: 'HH:mm') : 'Hora no disponible') }}
          </td>
          <td class="px-4 py-3 text-center flex justify-center space-x-2">
            <button
              class="inline-flex items-center px-4 py-2 bg-[#76ABAE] text-white font-light font-rubik rounded-md shadow hover:bg-[#5b9892] focus:outline-none focus:ring-2 focus:ring-gray-500 transition duration-300 transform hover:scale-105">
              <i class="fas fa-info-circle mr-1"></i> Info
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <ng-template #noVentas>
      <p class="text-center text-gray-500">No hay ventas disponibles</p>
    </ng-template>

    <div *ngIf="ventaSeleccionada" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
      <div class="bg-white rounded-lg shadow-lg p-6 max-w-md w-full">
        <h3 class="text-xl font-semibold mb-4 text-black">Información de la venta</h3>
        <ul class="mt-4">
          <li *ngFor="let producto of ventaSeleccionada.productos" class="border-b py-2">
            <p class="text-black"><strong>Producto:</strong> {{ producto.product.title}}</p>
            <p class="text-black"><strong>Cantidad:</strong> {{ producto.cantidad }}</p>
            <p class="text-black"><strong>Precio de Venta:</strong> {{ formatCurrency(producto.ventaPrice) }}</p>
          </li>
        </ul>
        <button (click)="cerrarModal()" class="mt-4 bg-red-500 text-white px-4 py-2 rounded flex items-center">
          <i class="fas fa-times mr-1"></i> Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
<div class="flex justify-center mt-4" *ngIf="!ventaSeleccionada && ventas.length >= 10">
  <div class="flex space-x-4">
    <button (click)="paginaAnterior()" [disabled]="!hayPaginasPrevias()"
      class="bg-[#76ABAE] text-white px-4 py-2 rounded disabled:opacity-50 flex items-center">
      <i class="fas fa-chevron-left mr-2"></i>
      Anterior
    </button>

    <button (click)="siguientePagina()" [disabled]="!hayMasVentas()"
      class="bg-[#76ABAE] text-white px-4 py-2 rounded disabled:opacity-50 flex items-center">
      Siguiente
      <i class="fas fa-chevron-right ml-2"></i>
    </button>
  </div>

</div>

<!-- Modal para mostrar detalles de la venta -->
<div *ngIf="ventaSeleccionada" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
  <div class="bg-white rounded-lg shadow-2xl p-8 max-w-lg w-full font-rubik">
    <h3 class="text-xl font-semibold text-gray-800 mb-4">
      Resumen del Día ({{ fechaSeleccionada | date: 'd' }} de {{ fechaSeleccionada | date: 'MMMM' }} {{
      fechaSeleccionada | date: 'yyyy' }})
    </h3>

    <!-- Condición para mostrar mensaje si no hay ventas -->
    <div *ngIf="ventas.length === 0" class="text-center text-gray-500 mb-4">
      No se han realizado ventas.
    </div>

    <!-- Resumen del Día (solo muestra si hay ventas) -->
    <div *ngIf="ventas.length > 0 && informacionDelDia.totalPrecio > 0" class="mb-6 space-y-4">
      <!-- Total de Productos, Total Vendido y Cantidad Total de Ventas -->
      <div class="space-y-3">
        <p class="text-sm text-gray-600">Total de Productos Vendidos:
          <span class="font-semibold">{{ informacionDelDia.totalProductos }}</span>
        </p>
        <p class="text-sm text-gray-600">Total Vendido:
          <span class="font-semibold">${{ informacionDelDia.totalPrecio | number: '1.0-0' }}</span>
        </p>
        <p class="text-sm text-gray-600">Cantidad Total de Ventas:
          <span class="font-semibold">{{ informacionDelDia.totalVentas }}</span>
        </p>
      </div>

      <!-- Métodos de Pago -->
      <div class="bg-gray-100 p-6 rounded-lg shadow-md mt-4">
        <p class="text-sm text-gray-600 mb-3">Métodos de Pago:</p>

        <div class="grid grid-cols-2 gap-4">
          <!-- Caja de Efectivo -->
          <div class="flex items-center space-x-2">
            <span class="font-semibold text-[#76ABAE]">EFECTIVO:</span>
            <span class="bg-[#76ABAE] text-white px-4 py-2 rounded-full">
              ${{ informacionDelDia.efectivo | number: '1.0-0' }}
            </span>
          </div>

          <!-- Caja de Débito -->
          <div class="flex items-center space-x-2">
            <span class="font-semibold text-[#7688AD]">TRANSFERENCIA:</span>
            <span class="bg-[#7688AD] text-white px-4 py-2 rounded-full">
              ${{ informacionDelDia.transferencia | number: '1.0-0' }}
            </span>
          </div>

          <!-- Caja de Tarjeta -->
          <div class="flex items-center space-x-2">
            <span class="font-semibold text-[#5b9892]">TARJETA:</span>
            <span class="bg-[#5b9892] text-white px-4 py-2 rounded-full">
              ${{ informacionDelDia.tarjeta | number: '1.0-0' }}
            </span>
          </div>

          <!-- Caja de Otro -->
          <div class="flex items-center space-x-2">
            <span class="font-semibold text-[#A4A4A4]">OTRO:</span>
            <span class="bg-[#A4A4A4] text-white px-4 py-2 rounded-full">
              ${{ informacionDelDia.otro | number: '1.0-0' }}
            </span>
          </div>
        </div>
      </div>
    </div>

    <!-- Botón para cerrar el modal -->
    <div class="flex justify-end mt-6">
      <button (click)="cerrarModal()"
        class="bg-red-500 text-white px-6 py-2 rounded-full shadow-md hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-500 transition duration-200 transform hover:scale-105">
        <i class="fas fa-times mr-2"></i> Cerrar
      </button>
    </div>
  </div>
</div>
